body {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #f9f9f9;
    color: #333;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}

ul a {
	text-decoration: none; 
}

ul.edu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.edu li{
	margin: 0.5em 2em;
	padding: 0;
}

ul.edu a {
	text-decoration: none; 
}

ul.stuff {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.stuff li{
	margin: 0.5em 0.2em;
	padding: 0;
}

ul.stuff a {
	text-decoration: none; 
}

.content {
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: justify;
}

.content a {
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #000;
}

.content strong a {
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #990000;
}

.caption {
	font-size: 34px;
	font-weight: normal;
	color: #000;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

.caption-1 {
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
}

.caption-2 {
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: #990000;
}

.caption-3 {
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: #F00;
}

.caption-4 {
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #990000;
}

.title-small {
	font-size: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	color: #F90;
}

.title-large {
	font-size: 28px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	color: #000;
}

.margin {
	font-size: 10px;
	line-height: 10px;
}

.margin-small {
	font-size: 5px;
	line-height: 5px;
}

.margin-large {
	font-size: 16px;
	line-height: 16px;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

content a:link {
	text-decoration: none;
}

content a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
	color: #000000;
	font-family: Tahoma, Geneva, sans-serif;
}

strong a:active {
	text-decoration: underline;
	color: #000000;
}

img {
 border-color: black;
}

footer {
      text-align: center;
      margin-top: 20px;
      font-size: 0.9em;
      color: #666;
}
